.godot/
.godota/
/android/
.gradle
.kotlin
.idea
build
tmp
jre
jre*
*.apk

audio
assets/controls/*
assets/entity/*
assets/sounds/*
epoch1/**/*.png
epoch1/**/*.import
epoch2/**/*.png
epoch2/**/*.import
epoch3/**/*.png
epoch3/**/*.import
epoch4/**/*.png
epoch4/**/*.import
epoch5/**/*.png
epoch5/**/*.import
epoch6/**/*.png
epoch6/**/*.import
